<div class="global">
  <table class="global-table">
    <tr class="column-container flexrow">
      <td class="table-container">
        <table class="take-damage-table">
          <tr><th colspan="7">{{localize "orc.takeDamage"}}</th></tr>
          <tr class="take-damage-row">
            <td class="choice">{{localize "orc.damage"}}</td>
            {{#if actor.system.takeDamage.applyArmor}}
              <td class="choice" colspan="2">{{localize "orc.character.ap"}}?</td>
            {{else}}
              <td class="choice">{{localize "orc.character.ap"}}?</td>
              <td class="choice">{{localize "orc.character.ap"}} {{localize "orc.native"}}?</td>
            {{/if}}
            <td class="choice">{{localize "orc.character.mp"}}?</td>
            <td class="choice">{{localize "orc.resistance"}}?</td>
            <td class="choice">{{localize "orc.vulnerability"}}?</td>
            <td class="choice"></td>
          </tr>
          <tr class="take-damage-row">
            <td class="choice">
              <input
                type="text"
                name="system.takeDamage.damage"
                value="{{actor.system.takeDamage.damage}}"
                placeholder="0"
                onClick="this.select();"
                style="width: 40px"
              />
            </td>
            {{#if actor.system.takeDamage.applyArmor}}
              <td class="choice" colspan="2">
                <input
                  name="system.takeDamage.applyArmor"
                  type="checkbox"
                  {{checked actor.system.takeDamage.applyArmor}}
                />
              </td>
            {{else}}
              <td class="choice">
                <input
                  name="system.takeDamage.applyArmor"
                  type="checkbox"
                  {{checked actor.system.takeDamage.applyArmor}}
                />
              </td>
              <td class="choice">
                <input
                  name="system.takeDamage.applyNativeArmor"
                  type="checkbox"
                  {{checked actor.system.takeDamage.applyNativeArmor}}
                />
              </td>
            {{/if}}
            <td class="choice">
              <input
                name="system.takeDamage.onMP"
                type="checkbox"
                {{checked actor.system.takeDamage.onMP}}
              />
            </td>
            <td class="choice">
              <input
                name="system.resistances.general"
                type="checkbox"
                {{checked actor.system.resistances.general}}
              />
            </td>
            <td class="choice">
              <input
                name="system.vulnerabilities.general"
                type="checkbox"
                {{checked actor.system.vulnerabilities.general}}
              />
            </td>
            <td
              class="choice button take-damage fas fa-heart-crack"
              data-damage="{{actor.system.takeDamage.damage}}"
              data-applyarmor="{{actor.system.takeDamage.applyArmor}}"
              data-applynativearmor="{{actor.system.takeDamage.applyNativeArmor}}"
              data-onmp="{{actor.system.takeDamage.onMP}}"
              align="center"
            ></td>
          </tr>
        </table>
      </td>
      {{#if (not (eq actor.system.ap.native actor.system.ap.value))}}
      <td class="table-container">
        <table class="take-damage-table">
          <tr><th colspan="3">{{localize "orc.takeDamageOnArmor"}}</th></tr>
          <tr class="take-damage-row">
            <td class="choice">{{localize "orc.damage"}}</td>
            <td class="choice">{{localize "orc.armorPiece"}}</td>
            <td class="choice"></td>
          </tr>
          <tr class="take-damage-row">
            <td class="choice">
              <input
                type="text"
                name="system.takeDamageArmor.damage"
                value="{{actor.system.takeDamageArmor.damage}}"
                placeholder="0"
                onClick="this.select();"
                style="width: 40px"
              />
            </td>
            <td class="choice">
              <select
                class=""
                name="system.takeDamageArmor.armorId"
                align="center"
              >
              {{#select actor.system.takeDamageArmor.armorId}}
                  <option value=""></option>
                  {{#each armors as |armor|}}
                    {{#if armor.system.equipped}}
                      <option value="{{armor._id}}">{{armor.name}}</option>
                    {{/if}}
                  {{/each}}
                {{/select}}
              </select>
            </td>
            <td
              class="choice button take-damage-armor fas fa-shield-slash"
              data-damage="{{actor.system.takeDamageArmor.damage}}"
              data-armorid="{{actor.system.takeDamageArmor.armorId}}"
              align="center"
            ></td>
          </tr>
        </table>
      </td>
      {{/if}}
      <td class="table-container">
        <table class="heal-table">
          <tr><th colspan="3">{{localize "orc.recoverHP"}}</th></tr>
          <tr class="heal-hp-row">
            <td class="choice">{{localize "orc.character.hp"}}</td>
            <td class="choice">{{localize "orc.multiplier"}}</td>
            <td class="choice"></td>
          </tr>
          <tr class="heal-hp-row">
            <td class="choice">
              <input
                type="text"
                name="system.recoverHP.heal"
                value="{{actor.system.recoverHP.heal}}"
                placeholder="0"
                onClick="this.select();"
                style="width: 40px"
              />
            </td>
            {{#if unlocked}}
              <td class="choice">
                <input
                  type="number"
                  name="system.recoverHP.multiplier.native"
                  value="{{actor.system.recoverHP.multiplier.native}}"
                  placeholder="0"
                  onClick="this.select();"
                  style="width: 40px"
                />
              </td>
            {{else}}
              <td
                class="choice"
              >{{actor.system.recoverHP.multiplier.value}}</td>
            {{/if}}
            <td
              class="choice button recover-hp fas fa-medkit"
              data-heal="{{actor.system.recoverHP.heal}}"
              data-multiplier="{{actor.system.recoverHP.multiplier.value}}"
              align="center"
            ></td>
          </tr>
        </table>
      </td>
      {{#if actor.system.mp.valueMaxNative}}
      <td class="table-container">
        <table class="heal-table">
          <tr><th colspan="2">{{localize "orc.recoverMP"}}</th></tr>
          <tr class="heal-mp-row">
            <td class="choice">{{localize "orc.character.mp"}}</td>
            <td class="choice"></td>
          </tr>
          <tr class="heal-mp-row">
            <td class="choice">
              <input
                type="text"
                name="system.recoverMP.heal"
                value="{{actor.system.recoverMP.heal}}"
                placeholder="0"
                onClick="this.select();"
                style="width: 40px"
              />
            </td>
            <td
              class="choice button recover-mp fas fa-sparkles"
              data-heal="{{actor.system.recoverMP.heal}}"
              align="center"
            ></td>
          </tr>
        </table>
      </td>
      {{/if}}
    </tr>
  </table>


  <table class="item-list weapon-list">
    <tr class="main-header flexrow">
      <th class="content">{{localize "orc.weaponsEquipped"}}</th>
    </tr>
    <tr class="header flexrow">
      <th></th>
      <th class="content">{{localize "orc.weapon.ammo"}}</th>
      <th class="content">{{localize "orc.weapon.damage"}}</th>
      <th class="content">{{localize "orc.weapon.range"}}</th>
      <th class="effect-list">{{localize "orc.weapon.effect"}}</th>
      <th class="content">{{localize "orc.character.attack"}}</th>
    </tr>
    {{#each weapons as |weapon id|}}
      {{#if weapon.system.equipped}}
        <tr class="item flexrow" data-item-id="{{weapon._id}}">
          <td class="content">
            <img
              src="{{weapon.img}}"
              data-edit="img"
              title="{{weapon.name}}"
              height="24"
              width="24"
            />
            <div>{{weapon.name}}</div>
          </td>
          <td class="content">
            {{#if weapon.system.useAmmo}}
              <select class="weapon-choose-ammo" name="system.ammo" align="center">
              {{#select weapon.system.ammo}} 
                <option value=""></option>
              {{#each ../ammos as |ammo|}}
                <option value="{{ammo._id}}">{{ammo.name}}</option>
              {{/each}} 
              {{/select}}
            </select>
            {{/if}}
          </td>
          <td class="content">{{weapon.system.effective.damage}}</td>
          <td class="content">{{weapon.system.range}}</td>
          <td class="effect-list">{{weapon.system.effective.effect}}</td>
          <td class="content" style="display: flex">
            {{weapon.system.effective.attack}}
            <span
              class="attack-with-weapon-roll button fas fa-dice"
              data-attributename="{{localize 'orc.character.attack'}}"
              data-attributevalue="{{weapon.system.effective.attack}}"
              data-attributevaluebase="{{../actor.system.attack.native}}"
              data-weaponid="{{weapon._id}}"
            ></span>
          </td>
        </tr>
      {{/if}}
    {{/each}}
  </table>

  {{#if (or actor.system.magic.nSpell.effective actor.system.magic.nInvoc.effective)}}
  <table class="item-list spell-list">
    {{#if actor.system.magic.nSpell.effective}}
    <tr class="main-header flexrow">
      <th class="content">{{localize "orc.spellsMemorized"}}</th>
    </tr>
    <tr class="header flexrow">
      <th class="content"></th>
      <th class="content">{{localize "orc.spell.power"}}</th>
      <th class="content">{{localize "orc.spell.range"}}</th>
      <th class="content">{{localize "orc.spell.duration"}}</th>
      <th class="content">{{localize "orc.spell.cost"}}</th>
      <th class="effect-list">{{localize "orc.spell.effect"}}</th>
      <th class="content">{{localize "orc.spell.launch"}}</th>
    </tr>
    {{#each spells as |spell|}}
      {{#if (and 
              spell.system.memorized
              (not spell.system.isRitual) 
              (not spell.system.isInvoc)
            )}}
        <tr class="item flexrow" data-item-id="{{spell._id}}">
          <td class="content">
            <img
              src="{{spell.img}}"
              data-edit="img"
              title="{{spell.name}}"
              height="24"
              width="24"
            />
            <div>{{spell.name}}</div>
          </td>
          <td class="content">{{spell.system.effective.power}}</td>
          <td class="content">{{spell.system.range}}</td>
          <td class="content">{{spell.system.duration}}&nbsp;{{spell.system.durationUnit}}</td>
          <td class="content">
            {{#if spell.system.effective.cost}}
            {{spell.system.effective.cost}}&nbsp;{{#if spell.system.useHP}}{{localize "orc.character.hp"}}{{else}}{{localize "orc.character.mp"}}{{/if}}
            {{/if}}
          </td>
          <td class="effect-list">{{spell.system.effect}}</td>
          <td class="content" style="display: flex">
            {{spell.system.effective.rollLaunch}}
            {{#if ../actor.system.magic.canLaunchSpell}}
              <span
                class="launch-spell-roll button fas fa-dice"
                data-attributename="{{localize 'orc.character.magicRoll'}}"
                data-attributevalue="{{spell.system.effective.rollLaunch}}"
                data-attributevaluebase="{{../actor.system.magic.roll.native}}"
                data-spellid="{{spell._id}}"
              ></span>
            {{/if}}
          </td>
        </tr>
      {{/if}}
    {{/each}}
    {{/if}}
    {{#if actor.system.magic.nInvoc.effective}}
    <tr class="main-header flexrow">
      <th class="content">{{localize "orc.invocsMemorized"}}</th>
    </tr>
    <tr class="header flexrow">
      <th class="content"></th>
      <th class="content">{{localize "orc.spell.duration"}}</th>
      <th class="content">{{localize "orc.spell.cost"}}</th>
      <th class="content">{{localize "orc.spell.launch"}}</th>
      <th class="content">{{localize "orc.spell.control"}}</th>
      <th class="content">{{localize "orc.spell.invoked"}}</th>
    </tr>
    {{#each spells as |spell|}}
      {{#if (and 
              spell.system.isInvoc
              spell.system.memorized
            )}}
        <tr class="item flexrow" data-item-id="{{spell._id}}">
          <td class="content">
            <img
              src="{{spell.img}}"
              data-edit="img"
              title="{{spell.name}}"
              height="24"
              width="24"
            />
            <div>{{spell.name}}</div>
          </td>
          <td class="content">{{spell.system.duration}}&nbsp;{{spell.system.durationUnit}}</td>
          <td class="content">
            {{#if spell.system.effective.cost}}
            {{spell.system.effective.cost}}&nbsp;{{#if spell.system.useHP}}{{localize "orc.character.hp"}}{{else}}{{localize "orc.character.mp"}}{{/if}}
            {{/if}}
          </td>
          <td class="content" style="display: flex">
            {{#if (not spell.system.ifInvoc.invoked)}}
              {{spell.system.effective.rollLaunch}}
              {{#if ../actor.system.magic.canLaunchSpell}}
                <span
                  class="launch-spell-roll button fas fa-dice"
                  data-attributename="{{localize 'orc.character.magicRoll'}}"
                  data-attributevalue="{{spell.system.effective.rollLaunch}}"
                  data-attributevaluebase="{{../actor.system.magic.roll.native}}"
                  data-spellid="{{spell._id}}"
                ></span>
              {{/if}}
            {{/if}}
          </td>
          <td class="content" style="display: flex">
            {{#if spell.system.ifInvoc.invoked}}
              {{#if spell.system.ifInvoc.fixed}}
                <span>{{localize "orc.spell.fixed"}}</span>
              {{else}}
                {{spell.system.effective.rollControl}}
                {{#if ../actor.system.magic.canLaunchSpell}}
                  <span
                    class="control-invoc-roll button fas fa-dice"
                    data-attributename="{{localize 'orc.character.magicRoll'}}"
                    data-attributevalue="{{spell.system.effective.rollControl}}"
                    data-attributevaluebase="{{../actor.system.magic.roll.native}}"
                    data-spellid="{{spell._id}}"
                  ></span>
                {{/if}}
              {{/if}}
            {{/if}}
          </td>
           <td class="content">
            {{#if spell.system.ifInvoc.invoked}}
            <span
              class="content spell-invoc button fas fa-check"
            ></span>
            {{else}}
            <span
              class="content spell-invoc button fas fa-xmark"
            ></span>
            {{/if}}
          </td>
        </tr>
      {{/if}}
    {{/each}}
    {{/if}}
  </table>
  {{/if}}

  <table class="item-list capacity-list">
    <tr class="main-header flexrow">
      <th class="content">
        {{localize "orc.capacities"}} &nbsp; &nbsp;
        <a class="item-create" data-type="capacity" align="center" title="Create Item">
          <i class="button fas fa-plus"></i>
        </a>  
      </th>
    </tr>
    <tr class="header flexrow">
      <th class="content"></th>
      <th class="content">{{localize "orc.capacity.duration"}}</th>    
      <th class="content">{{localize "orc.capacity.roll"}}</th>
      <th class="effect-list">{{localize "orc.capacity.addEffect"}}</th>    
      <th class="content">{{localize "orc.capacity.activated"}}</th>    
      <th class="content"></th>
    </tr>
    {{#each capacities as |capacity id|}}
      <tr class="item flexrow" data-item-id="{{capacity._id}}">
        <td class="content">
          <img
            src="{{capacity.img}}"
            data-edit="img"
            title="{{capacity.name}}"
            height="24"
            width="24"
          />
          <div>{{capacity.name}}</div>
        </td>
        <td class="content" style="display: flex">
          {{#if (and 
            capacity.system.activeEffect 
            (isNotEmptyString capacity.system.ifActivable.duration))}}
            {{#if capacity.system.ifActivable.activated}}
            <span>{{capacity.system.ifActivable.durationEffective}}&nbsp;{{capacity.system.ifActivable.durationUnit}}</span>&nbsp;&nbsp;&nbsp;
            <span
              class="capacity-activable-reduce-duration button fas fa-clock"
              data-itemid="{{capacity._id}}"
            ></span>  
            {{else}}
              <span>{{capacity.system.ifActivable.duration}}&nbsp;{{capacity.system.ifActivable.durationUnit}}</span>
            {{/if}}
          {{/if}}
        </td>
        {{#if capacity.system.isAttributRoll}}
          {{#each ../actor.system.attributes as |attribute a|}}
          {{#if (eq attribute.name capacity.system.attributLocal)}}
          <td
            class="content attribute-roll button fas fa-dice"
            data-attributename="{{localize attribute.name}}"
            data-attributevalue="{{attribute.value}}"
            data-attributevaluebase="{{attribute.native}}"
            data-attributelocalmodif="{{capacity.system.modifLocal}}"
            align="center">
            {{localize attribute.name}}
          </td>
          {{/if}}
          {{/each}}
        {{/if}}
        {{#if capacity.system.isAttackRoll}}
          <td class="content" align="center">
              {{#each ../weapons as |weapon id|}}
              {{#if (eq weapon._id capacity.system.weaponLocal)}}
                  <span
                    class="content attack-with-weapon-roll button fas fa-dice"
                    data-attributename="{{localize 'orc.character.attack'}}"
                    data-attributevalue="{{weapon.system.effective.attack}}"
                    data-attributevaluebase="{{../../actor.system.attack.native}}"
                    data-attributelocalmodif="{{capacity.system.modifLocal}}"
                    data-weaponid="{{weapon._id}}"
                    style="height: 15px"
                ></span>
                {{/if}}
              {{/each}}
              <select class="capacity-choose-weapon" name="system.weaponLocal" align="center">
                {{#select capacity.system.weaponLocal}}
                  <option value=""></option>
                  {{#each ../weapons as |weapon|}}
                    {{#if (and weapon.system.equipped
                    (or 
                      (and capacity.system.rangeWeapon weapon.system.useAmmo) 
                      (and (not capacity.system.rangeWeapon) (not weapon.system.useAmmo)) 
                    ))}}
                      <option value="{{weapon._id}}">{{weapon.name}}</option>
                    {{/if}}
                  {{/each}}
                {{/select}}
              </select>
          </td>
        {{/if}}
        {{#if capacity.system.isStatusResistRoll}}
          <td
            class="capacity-status-resist-roll button fas fa-dice"
            align="center">
            {{localize "orc.character.attributes.physical"}}
          </td>
        {{/if}}
        {{#if (and 
                (not capacity.system.isAttributRoll)
                (not capacity.system.isAttackRoll)
                (not capacity.system.isStatusResistRoll))}}
          <td></td>
        {{/if}}
        <td class="effect-list">
          <span>{{capacity.system.addEffect}}</span>
        </td>
        <td class="content" align="center">
        {{#if capacity.system.activeEffect}}
          {{#if capacity.system.ifActivable.activated}}
            <span class="content capacity-activable-deactivate button fas fa-check"
              data-itemid="{{capacity._id}}"></span>
          {{else}}
            <span class="content capacity-activable-activate button fas fa-xmark"
              data-itemid="{{capacity._id}}"></span>
          {{/if}}
        {{/if}}
        </td>
        <td class="content" align="center">
          <a class="item-edit" align="center" title="Edit Item">
            <i class="button fas fa-edit"></i></a>
          <a class="item-delete" align="center" title="Delete Item">
            <i class="button fas fa-trash"></i></a>
        </td>
      </tr>
    {{/each}}
  </table>

  <table class="item-list enchant-list">
      <tr class="main-header flexrow">
        <th class="content">{{localize "orc.enchantsActivables"}}</th>
      </tr>
      <tr class="header flexrow">
        <th class="content"></th>
        <th class="content">{{localize "orc.enchant.roll"}}</th>
        <th class="effect-list">{{localize "orc.enchant.effect"}}</th>
        <th class="content">{{localize "orc.enchant.use"}} {{localize "orc.enchant.available"}}</th>
        <th class="content">{{localize "orc.enchant.duration"}}</th>
        <th class="content">{{localize "orc.enchant.activated"}}</th>
      </tr>
      {{#each items as |item id|}}
        {{#if (and item.system.equipped item.system.enchant.activeEffect (isNotEmptyString item.system.enchant.name))}}
          <tr class="item flexrow" data-item-id="{{item._id}}">
            <td class="content">{{item.system.enchant.name}}</td>
            <td class="content" style="display: flex">
              {{#if (isNotEmptyString item.system.enchant.roll)}}
                <span>{{item.system.enchant.roll}}</span>
                <span
                  class="enchant-roll button fas fa-dice"
                  data-itemid="{{item._id}}"
                ></span>
              {{/if}}
            </td>
            <td class="effect-list">
            {{#if (not item.system.enchant.optionDeploy)}}
              <div
                class="enchant-deploy button fas fa-arrow-down-short-wide"
                align="center"
                style="width: 25px"
                data-itemid="{{item._id}}"
              ></div>
            {{else}}
              <div
                class="enchant-deploy button fas fa-arrow-up-to-line"
                align="center"
                style="width: 25px"
                data-itemid="{{item._id}}"
              ></div>
              <table>
                {{#if item.system.enchant.physicalModif}}
                  <tr>
                    <td align="center">{{localize
                        "orc.enchant.physicalModif"
                      }}</td>
                    <td align="center">{{item.system.enchant.physicalModif}}</td>
                  </tr>
                {{/if}}
                {{#if item.system.enchant.socialModif}}
                  <tr>
                    <td align="center">{{localize "orc.enchant.socialModif"}}</td>
                    <td align="center">{{item.system.enchant.socialModif}}</td>
                  </tr>
                {{/if}}
                {{#if item.system.enchant.intelModif}}
                  <tr>
                    <td align="center">{{localize "orc.enchant.intelModif"}}</td>
                    <td align="center">{{item.system.enchant.intelModif}}</td>
                  </tr>
                {{/if}}
                {{#if item.system.enchant.hpMaxModif}}
                  <tr>
                    <td align="center">{{localize "orc.enchant.hpMaxModif"}}</td>
                    <td align="center">{{item.system.enchant.hpMaxModif}}</td>
                  </tr>
                {{/if}}
                {{#if item.system.enchant.mpMaxModif}}
                  <tr>
                    <td align="center">{{localize "orc.enchant.mpMaxModif"}}</td>
                    <td align="center">{{item.system.enchant.mpMaxModif}}</td>
                  </tr>
                {{/if}}
                {{#if item.system.enchant.apModif}}
                  <tr>
                    <td align="center">{{localize "orc.enchant.apModif"}}</td>
                    <td align="center">{{item.system.enchant.apModif}}</td>
                  </tr>
                {{/if}}

                {{#if item.system.enchant.attackModif}}
                  <tr>
                    <td align="center">{{localize "orc.enchant.attackModif"}}</td>
                    <td align="center">{{item.system.enchant.attackModif}}</td>
                  </tr>
                {{/if}}
                {{#if item.system.enchant.defenceModif}}
                  <tr>
                    <td align="center">{{localize
                        "orc.enchant.defenceModif"
                      }}</td>
                    <td align="center">{{item.system.enchant.defenceModif}}</td>
                  </tr>
                {{/if}}
                {{#if item.system.enchant.dodgeModif}}
                  <tr>
                    <td align="center">{{localize "orc.enchant.dodgeModif"}}</td>
                    <td align="center">{{item.system.enchant.dodgeModif}}</td>
                  </tr>
                {{/if}}
                {{#if item.system.enchant.encumbranceLimitModif}}
                  <tr>
                    <td align="center">{{localize
                        "orc.enchant.encumbranceLimitModif"
                      }}</td>
                    <td
                      align="center"
                    >{{item.system.enchant.encumbranceLimitModif}}</td>
                  </tr>
                {{/if}}
                {{#if item.system.enchant.foodNeededDayModif}}
                  <tr>
                    <td align="center">{{localize
                        "orc.enchant.foodNeededDayModif"
                      }}</td>
                    <td
                      align="center"
                    >{{item.system.enchant.foodNeededDayModif}}</td>
                  </tr>
                {{/if}}
                {{#if item.system.enchant.drinkNeededDayModif}}
                  <tr>
                    <td align="center">{{localize
                        "orc.enchant.drinkNeededDayModif"
                      }}</td>
                    <td
                      align="center"
                    >{{item.system.enchant.drinkNeededDayModif}}</td>
                  </tr>
                {{/if}}
                {{#if item.system.enchant.limitCriticalModif}}
                  <tr>
                    <td align="center">{{localize
                        "orc.enchant.limitCriticalModif"
                      }}</td>
                    <td
                      align="center"
                    >{{item.system.enchant.limitCriticalModif}}</td>
                  </tr>
                {{/if}}
                {{#if item.system.enchant.limitFumbleModif}}
                  <tr>
                    <td align="center">{{localize
                        "orc.enchant.limitFumbleModif"
                      }}</td>
                    <td
                      align="center"
                    >{{item.system.enchant.limitFumbleModif}}</td>
                  </tr>
                {{/if}}
                {{#if (isNotEmptyString item.system.enchant.damageBonusModif)}}
                  <tr>
                    <td align="center">{{localize
                        "orc.enchant.damageBonusModif"
                      }}</td>
                    <td
                      align="center"
                    >{{item.system.enchant.damageBonusModif}}</td>
                  </tr>
                {{/if}}
                {{#if item.system.enchant.nSpell}}
                    <tr>
                      <td align="center">{{localize
                          "orc.enchant.nSpell"
                        }}</td>
                      <td
                        align="center"
                      >{{item.system.enchant.nSpell}}</td>
                    </tr>
                  {{/if}}
                  {{#if item.system.enchant.nInvoc}}
                    <tr>
                      <td align="center">{{localize
                          "orc.enchant.nInvoc"
                        }}</td>
                      <td
                        align="center"
                      >{{item.system.enchant.nInvoc}}</td>
                    </tr>
                  {{/if}}
                  {{#if (isNotEmptyString item.system.enchant.magicPower)}}
                    <tr>
                      <td align="center">{{localize
                          "orc.enchant.magicPower"
                        }}</td>
                      <td
                        align="center"
                      >{{item.system.enchant.magicPower}}</td>
                    </tr>
                  {{/if}}
                  {{#if item.system.enchant.mpReduc}}
                    <tr>
                      <td align="center">{{localize
                          "orc.enchant.mpReduc"
                        }}</td>
                      <td
                        align="center"
                      >{{item.system.enchant.mpReduc}}</td>
                    </tr>
                  {{/if}}
                  {{#if item.system.enchant.rollSpellBonus}}
                    <tr>
                      <td align="center">{{localize
                          "orc.enchant.rollSpellBonus"
                        }}</td>
                      <td
                        align="center"
                      >{{item.system.enchant.rollSpellBonus}}</td>
                    </tr>
                  {{/if}}
                  {{#if (isNotEmptyString item.system.enchant.addEffect)}}
                    <tr>
                      <td align="center">{{localize "orc.enchant.addEffect"}}</td>
                      <td align="center">{{item.system.enchant.addEffect}}</td>
                    </tr>
                  {{/if}}
                </table>
              {{/if}}
            </td>
            <td class="content" align="center">
              {{#if item.system.enchant.use.perDay}}
                <span>{{item.system.enchant.use.available}}</span>
              {{/if}}
            </td>
            <td class="content">
              {{#if (and item.system.enchant.use.duration item.system.enchant.use.perDay)}}
              {{#if item.system.enchant.activated}}
                <span>{{item.system.enchant.use.durationEffective}}&nbsp;{{item.system.enchant.use.durationUnit}}</span>&nbsp;&nbsp;&nbsp;
                <span
                  class="enchant-reduce-duration button fas fa-clock"
                  data-itemid="{{item._id}}"
                ></span>  
              {{else}}
                <span>{{item.system.enchant.use.duration}}&nbsp;{{item.system.enchant.use.durationUnit}}</span>
              {{/if}}
              {{/if}}
            </td>
            {{#if (not item.system.enchant.use.perDay)}}
              <td class="content fas fa-minus"></td>
            {{else}}
              {{#if item.system.enchant.activated}}
                <td class="content enchant-activate button fas fa-check"
                  data-itemid="{{item._id}}"></td>
              {{else}}
                <td class="content enchant-activate button fas fa-xmark"
                  data-itemid="{{item._id}}"></td>
              {{/if}}
            {{/if}}
          </tr>
        {{/if}}
      {{/each}}
    </table>

  <table class="item-list consumable-list">
      <tr class="main-header flexrow">
        <th class="content">{{localize "orc.consumablesActivated"}}</th>
      </tr>
      <tr class="header flexrow">
        <th class="content"></th>
        <th class="effect-list">{{localize "orc.consumable.effect"}}</th>
        <th class="content">{{localize "orc.consumable.ifActivable.duration"}}</th>
        <th class="content">{{localize "orc.consumable.ifActivable.deactivate"}}</th>
      </tr>
      {{#each consumables as |consumable id|}}
        {{#if
          (and
            consumable.system.isActivable
            consumable.system.ifActivable.activated
          )
        }}
          <tr class="item flexrow" data-item-id="{{consumable._id}}">
            <td class="content">
              <img
                src="{{consumable.img}}"
                data-edit="img"
                title="{{consumable.name}}"
                height="24"
                width="24"
              />
              <div>{{consumable.name}}</div>
            </td>
            <td class="effect-list">
            {{#if (not consumable.system.ifActivable.optionDeploy)}}
              <div
                class="consumable-activable-deploy button fas fa-arrow-down-short-wide"
                align="center"
                style="width: 25px"
                data-itemid="{{consumable._id}}"
              ></div>
            {{else}}
              <div
                class="consumable-activable-deploy button fas fa-arrow-up-to-line"
                align="center"
                style="width: 25px"
                data-itemid="{{consumable._id}}"
              ></div>
              <table>
                {{#if consumable.system.ifActivable.physicalModif}}
                  <tr>
                    <td align="center">{{localize
                        "orc.consumable.ifActivable.physicalModif"
                      }}</td>
                    <td align="center">{{consumable.system.ifActivable.physicalModif}}</td>
                  </tr>
                {{/if}}
                {{#if consumable.system.ifActivable.socialModif}}
                  <tr>
                    <td align="center">{{localize "orc.consumable.ifActivable.socialModif"}}</td>
                    <td align="center">{{consumable.system.ifActivable.socialModif}}</td>
                  </tr>
                {{/if}}
                {{#if consumable.system.ifActivable.intelModif}}
                  <tr>
                    <td align="center">{{localize "orc.consumable.ifActivable.intelModif"}}</td>
                    <td align="center">{{consumable.system.ifActivable.intelModif}}</td>
                  </tr>
                {{/if}}
                {{#if consumable.system.ifActivable.hpMaxModif}}
                  <tr>
                    <td align="center">{{localize "orc.consumable.ifActivable.hpMaxModif"}}</td>
                    <td align="center">{{consumable.system.ifActivable.hpMaxModif}}</td>
                  </tr>
                {{/if}}
                {{#if consumable.system.ifActivable.mpMaxModif}}
                  <tr>
                    <td align="center">{{localize "orc.consumable.ifActivable.mpMaxModif"}}</td>
                    <td align="center">{{consumable.system.ifActivable.mpMaxModif}}</td>
                  </tr>
                {{/if}}
                {{#if consumable.system.ifActivable.apModif}}
                  <tr>
                    <td align="center">{{localize "orc.consumable.ifActivable.apModif"}}</td>
                    <td align="center">{{consumable.system.ifActivable.apModif}}</td>
                  </tr>
                {{/if}}
                {{#if consumable.system.ifActivable.attackModif}}
                  <tr>
                    <td align="center">{{localize "orc.consumable.ifActivable.attackModif"}}</td>
                    <td align="center">{{consumable.system.ifActivable.attackModif}}</td>
                  </tr>
                {{/if}}
                {{#if consumable.system.ifActivable.defenceModif}}
                  <tr>
                    <td align="center">{{localize
                        "orc.consumable.ifActivable.defenceModif"
                      }}</td>
                    <td align="center">{{consumable.system.ifActivable.defenceModif}}</td>
                  </tr>
                {{/if}}
                {{#if consumable.system.ifActivable.dodgeModif}}
                  <tr>
                    <td align="center">{{localize "orc.consumable.ifActivable.dodgeModif"}}</td>
                    <td align="center">{{consumable.system.ifActivable.dodgeModif}}</td>
                  </tr>
                {{/if}}
                {{#if consumable.system.ifActivable.encumbranceLimitModif}}
                  <tr>
                    <td align="center">{{localize
                        "orc.consumable.ifActivable.encumbranceLimitModif"
                      }}</td>
                    <td
                      align="center"
                    >{{consumable.system.ifActivable.encumbranceLimitModif}}</td>
                  </tr>
                {{/if}}
                {{#if consumable.system.ifActivable.limitCriticalModif}}
                  <tr>
                    <td align="center">{{localize
                        "orc.consumable.ifActivable.limitCriticalModif"
                      }}</td>
                    <td
                      align="center"
                    >{{consumable.system.ifActivable.limitCriticalModif}}</td>
                  </tr>
                {{/if}}
                {{#if consumable.system.ifActivable.limitFumbleModif}}
                  <tr>
                    <td align="center">{{localize
                        "orc.consumable.ifActivable.limitFumbleModif"
                      }}</td>
                    <td
                      align="center"
                    >{{consumable.system.ifActivable.limitFumbleModif}}</td>
                  </tr>
                {{/if}}
                {{#if (isNotEmptyString consumable.system.ifActivable.damageBonusModif)}}
                  <tr>
                    <td align="center">{{localize
                        "orc.consumable.ifActivable.damageBonusModif"
                      }}</td>
                    <td
                      align="center"
                    >{{consumable.system.ifActivable.damageBonusModif}}</td>
                  </tr>
                {{/if}}
                {{#if consumable.system.ifActivable.nSpell}}
                    <tr>
                      <td align="center">{{localize
                          "orc.consumable.ifActivable.nSpell"
                        }}</td>
                      <td
                        align="center"
                      >{{consumable.system.ifActivable.nSpell}}</td>
                    </tr>
                  {{/if}}
                  {{#if consumable.system.ifActivable.nInvoc}}
                    <tr>
                      <td align="center">{{localize
                          "orc.consumable.ifActivable.nInvoc"
                        }}</td>
                      <td
                        align="center"
                      >{{consumable.system.ifActivable.nInvoc}}</td>
                    </tr>
                  {{/if}}
                  {{#if (isNotEmptyString consumable.system.ifActivable.magicPower)}}
                    <tr>
                      <td align="center">{{localize
                          "orc.consumable.ifActivable.magicPower"
                        }}</td>
                      <td
                        align="center"
                      >{{consumable.system.ifActivable.magicPower}}</td>
                    </tr>
                  {{/if}}
                  {{#if consumable.system.ifActivable.mpReduc}}
                    <tr>
                      <td align="center">{{localize
                          "orc.consumable.ifActivable.mpReduc"
                        }}</td>
                      <td
                        align="center"
                      >{{consumable.system.ifActivable.mpReduc}}</td>
                    </tr>
                  {{/if}}
                  {{#if consumable.system.ifActivable.rollSpellBonus}}
                    <tr>
                      <td align="center">{{localize
                          "orc.consumable.ifActivable.rollSpellBonus"
                        }}</td>
                      <td
                        align="center"
                      >{{consumable.system.ifActivable.rollSpellBonus}}</td>
                    </tr>
                  {{/if}}
                  {{#if (isNotEmptyString consumable.system.addEffect)}}
                    <tr>
                      <td align="center">{{localize "orc.consumable.addEffect"}}</td>
                      <td align="center">{{consumable.system.addEffect}}</td>
                    </tr>
                  {{/if}}
                </table>
              {{/if}}
            </td>   
            <td class="content" style="display: flex">
              <span>{{consumable.system.ifActivable.duration}}&nbsp;{{consumable.system.ifActivable.durationUnit}}&nbsp;&nbsp;&nbsp;</span>
              <span
                  class="consumable-activable-reduce-duration button fas fa-clock"
                  data-itemid="{{consumable._id}}"
              ></span>  
            </td>
            <td class="content" style="display: flex">
              <span
                  class="consumable-deactivate button fas fa-xmark"
                  data-itemid="{{consumable._id}}"
              ></span>  
            </td>
          </tr>
        {{/if}}
      {{/each}}
    </table>
 </div>
