<div class="magic">
  <table class="item-list spell-list">
    <tr class="main-header flexrow">
      <th class="content">
        {{localize "orc.spells"}} 
      </th>
      <th class="content"></th>
      <th class="content"></th>
    </tr>
    <tr class="header flexrow">
      <th class="content"></th>
      <th class="content">{{localize "orc.spell.difficulty"}}</th>
      <th class="content">{{localize "orc.spell.cost"}}</th>
      <th class="content">{{localize "orc.spell.cost"}} {{localize "orc.spell.multi"}}</th>
      <th class="content">{{localize "orc.spell.power"}}</th>
      <th class="content">{{localize "orc.spell.power"}} {{localize "orc.spell.multi"}}</th>
      <th class="content">{{localize "orc.spell.range"}}</th>
      <th class="content">{{localize "orc.spell.duration"}}</th>
      <th class="content">{{localize "orc.spell.effect"}}</th>
      <th class="content"></th>
    </tr>
    {{#each config.spellType as |type|}}
      <tr class="main-header flexrow">
        <th class="content">{{localize type}}</th>
      </tr>
      {{#each ../spells as |spell|}}
        {{#if (eq spell.system.type type)}}
          <tr class="item flexrow" data-item-id="{{spell._id}}">
            <td class="content">
              <img
                src="{{spell.img}}"
                data-edit="img"
                title="{{spell.name}}"
                height="24"
                width="24"
              />
              <div>{{spell.name}}</div>
            </td>
            <td class="content">{{spell.system.difficulty}}</td>
            <td class="content">{{spell.system.cost}} {{#if spell.system.useHP}} {{localize "orc.spell.HP"}} {{else}} {{localize "orc.spell.MP"}} {{/if}}</td>
            <td class="content">{{spell.system.costMult}}</td>
            <td class="content">{{spell.system.power}}</td>
            <td class="content">{{spell.system.powerMult}}</td>
            <td class="content">{{spell.system.range}}</td>
            <td class="content">{{spell.system.duration}}&nbsp;{{spell.system.durationUnit}}</td>
            <td class="content">{{spell.system.effect}}</td>
            <td align="center" class="content">
              <a class="item-edit" align="center" title="Edit Item">
                <i class="button fas fa-edit"></i></a>
              <a class="item-delete" align="center" title="Delete Item">
                <i class="button fas fa-trash"></i></a>
            </td>
          </tr>
        {{/if}}
      {{/each}}
    {{/each}}
  </table>

</div>