<div class="orc spell-roll dice-roll">
  <table class="results">
    <tr class="title">
      <th colspan="4">{{title}}</th>
    </tr>
    {{#if spellTypes.bases}}
    <tr>
      <td colspan="4">{{localize "orc.spell.types.base"}}(s): {{spellTypes.bases}}</td>
    </tr>
    {{/if}}
    {{#if spellTypes.shapes}}
    <tr>
      <td colspan="4">{{localize "orc.spell.types.shape"}}(s): {{spellTypes.shapes}}</td>
    </tr>
    {{/if}}
    {{#if spellTypes.powers}}
    <tr>
      <td colspan="4">{{localize "orc.spell.types.power"}}(s): {{spellTypes.powers}}</td>
    </tr>
    {{/if}}
    {{#if spellTypes.modifs}}
    <tr>
      <td colspan="4">{{localize "orc.spell.types.modif"}}(s): {{spellTypes.modifs}}</td>
    </tr>
    {{/if}}
    {{#if costRoll.formula}}
      <tr>
        <th class="header">{{localize "orc.spell.cost"}}</th>
        <td class="dice-formula">
          {{costRoll.formula}}
        </td>
        <td class="dice-total">
          {{costRoll.total}}
        </td>
        <td class="add-info">
          {{#if useHP}}
            {{localize "orc.character.hp"}}
          {{else}}
            {{localize "orc.character.mp"}}
          {{/if}}
        </td>
      </tr>
      <tr>{{{costTooltip}}}</tr>
    {{/if}}

    {{#if powerRoll.formula}}
      <tr>
        <th class="header">{{localize "orc.spell.power"}}</th>
        <td class="dice-formula">
          {{powerRoll.formula}}
        </td>
        <td class="dice-total" colspan="2">
          {{powerRoll.total}}
        </td>
      </tr>
      <tr>{{{powerTooltip}}}</tr>
    {{/if}}

    {{#if durationRoll.formula}}
      <tr>
        <th class="header">{{localize "orc.spell.duration"}}</th>
        <td class="dice-formula">
          {{durationRoll.formula}}
        </td>
        <td class="dice-total">
          {{durationRoll.total}}
        </td>
        <td class="add-info">
          {{durationUnit}}
        </td>
      </tr>
      <tr>{{{durationTooltip}}}</tr>
    {{/if}}

    <tr>
      <th class="header">{{localize "orc.spell.range"}}</th>
      <td class="dice-total" colspan="3">
        {{range}}
      </td>
    </tr>

    {{#if effect}}
      <tr class="effects">
        <td colspan="4">{{effect}}</td>
      </tr>
    {{/if}}
  </table>
</div>