<div class="orc attack-roll dice-roll">
  <table class="results weapon-damage">
  <tr class="title"><th>{{titleLimited}}</th></tr>
  {{#if (eq ammoTag 2)}}
    <tr class="ammo"><td>{{ammo}}</td></tr>
  {{else}}
      <tr class="dice-total">
        <td>{{roll.total}}</td>
      </tr>
      {{#if effect}}
        <tr class="effects">
          <td>{{effect}}</td>
        </tr>
      {{/if}}
    </table>
  {{/if}}
</div>