<form class="{{cssClass}} equipableitem" autocomplete="off">
  <div class="main">
    <div class="header">
      <div class="lock-icon">
        <a class="sheet-change-lock" title="lock/unlock sheet">
          {{#if unlocked}}
            <i class="button fas fa-lock-open"></i>
          {{else}}
            <i class="button fas fa-lock"></i>
          {{/if}}
        </a>
      </div>
      <div>
        <img
          src="{{item.img}}"
          data-edit="img"
          title="{{item.name}}"
          height="64"
          width="64"
        />
      </div>
      <div class="name">
        <h1 class="name" align="center">
          {{#if unlocked}}
            <input
              name="name"
              type="text"
              value="{{item.name}}"
              placeholder="{{localize 'orc.name'}}"
              onClick="this.select();"
            />
          {{else}}
            <span>{{item.name}}</span>
          {{/if}}
        </h1>
      </div>
    </div>
    <div class="content">
      <table>
        <tr>
          <th>{{localize "orc.equipableitem.weight"}}</th>
        </tr>
        <tr>
          <td align="center">
            {{#if unlocked}}
              <input
                name="system.weight."
                type="number"
                value="{{item.system.weight}}"
                placeholder="0"
              />
            {{else}}
              <span>{{item.system.weight}}</span>
            {{/if}}
          </td>
        </tr>
      </table>
    </div>
    <div class="enchant">
      <h2 class="enchant-header">
        {{#if (not item.system.enchant.optionDeploy)}}
          <div 
            class="enchant-deploy button fas fa-arrow-down-short-wide"
            align="center"
            style="width: 25px"
          ></div>
        {{else}}
          <div 
            class="enchant-deploy button fas fa-arrow-up-to-line" 
            align="center"
            style="width: 25px"
          ></div>
        {{/if}}
        <div class="title" align="center">{{localize "orc.enchant.title"}}</div>
      </h2>
      {{#if item.system.enchant.optionDeploy}}
        {{> systems/orc/templates/sheets/enchant-sheet.hbs}}
      {{/if}}
    </div>
  </div>
  <div class="descripton">
    <h2 align="center">{{localize "orc.weapon.descripton"}}</h2>
    {{editor
      descriptionHTML
      target="system.description"
      button=true
      owner=owner
      editable=editable
    }}
  </div>
</form>