<form class="{{cssClass}} food" autocomplete="off">
  <div class="main">
    <div class="header">
      <div class="lock-icon">
        <a class="sheet-change-lock" title="lock/unlock sheet">
          {{#if unlocked}}
            <i class="button fas fa-lock-open"></i>
          {{else}}
            <i class="button fas fa-lock"></i>
          {{/if}}
        </a>
      </div>
      <div>
        <img
          src="{{item.img}}"
          data-edit="img"
          title="{{item.name}}"
          height="64"
          width="64"
        />
      </div>
      <div class="name">
        <h1 class="name" align="center">
          {{#if unlocked}}
            <input
              name="name"
              type="text"
              value="{{item.name}}"
              placeholder="{{localize 'orc.name'}}"
              onClick="this.select();"
            />
          {{else}}
            <span>{{item.name}}</span>
          {{/if}}
        </h1>
      </div>
    </div>
    <div class="content">
      <table>
        <tr>
          {{#if (or unlocked item.system.hp)}}
            <th>{{localize "orc.food.hp"}}</th>
          {{/if}}
          {{#if (or unlocked item.system.mp)}}
            <th>{{localize "orc.food.mp"}}</th>
          {{/if}}
        </tr>
        <tr>
          {{#if unlocked}}
            <td align="center">
              <input
                name="system.hp"
                type="text"
                value="{{item.system.hp}}"
                placeholder="0"
              />
            </td>
          {{else}}
            {{#if item.system.hp}}
              <td align="center">{{item.system.hp}}</td>
            {{/if}}
          {{/if}}
          {{#if unlocked}}
            <td align="center">
              <input
                name="system.mp"
                type="text"
                value="{{item.system.mp}}"
                placeholder="0"
              />
            </td>
          {{else}}
            {{#if item.system.mp}}
              <td align="center">{{item.system.mp}}</td>
            {{/if}}
          {{/if}}
          </td>
        </tr>
      </table>
      <table>
        <tr>
          {{#if (or unlocked item.system.tipsiness)}}
            <th>{{localize "orc.food.tipsiness"}}</th>
          {{/if}}
          {{#if (or unlocked item.system.poison)}}
            <th>{{localize "orc.food.poison"}}</th>
          {{/if}}
        </tr>
        <tr>
          {{#if unlocked}}
            <td align="center">
              <input
                name="system.tipsiness"
                type="text"
                value="{{item.system.tipsiness}}"
                placeholder="0"
              />
            </td>
          {{else}}
            {{#if item.system.tipsiness}}
              <td align="center">{{item.system.tipsiness}}</td>
            {{/if}}
          {{/if}}
          {{#if unlocked}}
            <td align="center">
              <input
                name="system.poison"
                type="text"
                value="{{item.system.poison}}"
                placeholder="0"
              />
            </td>
          {{else}}
            {{#if item.system.poison}}
              <td align="center">{{item.system.poison}}</td>
            {{/if}}
          {{/if}}
          </td>
        </tr>
      </table>
      <table>
        <tr>
          {{#if (or unlocked item.system.type.food)}}
            <th>{{localize "orc.food.type.food"}}</th>
          {{/if}}
          {{#if (or unlocked item.system.type.drink)}}
            <th>{{localize "orc.food.type.drink"}}</th>
          {{/if}}
        </tr>
        <tr>
          {{#if unlocked}}
            <td align="center">
              <input
                name="system.type.food"
                type="checkbox"
                {{checked item.system.type.food}}
              />
            </td>
          {{else}}
            {{#if item.system.type.food}}
              <td align="center">      
                <span class="fas fa-check"></span>
              </td>
            {{/if}}
          {{/if}}
          {{#if unlocked}}
            <td align="center">
              <input
                name="system.type.drink"
                type="checkbox"
                {{checked item.system.type.drink}}
              />
            </td>
          {{else}}
            {{#if item.system.type.drink}}
              <td align="center">      
                <span class="fas fa-check"></span>
              </td>
            {{/if}}
          {{/if}}
        </tr>
      </table>
      <table>
        <tr>
          <th>{{localize "orc.food.stock"}}</th>
          <th>{{localize "orc.food.weightIndiv"}}</th>
        </tr>
        <tr>
          <td align="center">
            {{#if unlocked}}
              <input
                name="system.stock"
                type="number"
                value="{{item.system.stock}}"
                placeholder="0"
              />
            {{else}}
              <span>{{item.system.stock}}</span>
            {{/if}}
          </td>
          <td align="center">
            {{#if unlocked}}
              <input
                name="system.weight.indiv"
                type="number"
                value="{{item.system.weight.indiv}}"
                placeholder="0"
              />
            {{else}}
              <span>{{item.system.weight.indiv}}</span>
            {{/if}}
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="description">
    <h2 class="description-header">     
      {{#if (not item.system.optionDescriptionDeploy)}}
          <div 
            class="description-deploy button fas fa-arrow-down-short-wide"
            align="center"
            style="width: 25px"
          ></div>
        {{else}}
          <div 
            class="description-deploy button fas fa-arrow-up-to-line" 
            align="center"
            style="width: 25px"
          ></div>
        {{/if}}
      <div class="title" align="center">{{localize "orc.weapon.descripton"}}</div>
    </h2>
      {{#if item.system.optionDescriptionDeploy}}
        {{> systems/orc/templates/description.hbs}}
      {{/if}}
  </div>
</form>