<form class="{{cssClass}} food" autocomplete="off">
  <div class="main">
    <div class="header">
      <div class="lock-icon">
        <a class="sheet-change-lock" title="lock/unlock sheet">
          {{#if unlocked}}
            <i class="button fas fa-lock-open"></i>
          {{else}}
            <i class="button fas fa-lock"></i>
          {{/if}}
        </a>
      </div>
      <div>
        <img
          src="{{item.img}}"
          data-edit="img"
          title="{{item.name}}"
          height="64"
          width="64"
        />
      </div>
      <div class="name">
        <h1 class="name" align="center">
          {{#if unlocked}}
            <input
              name="name"
              type="text"
              value="{{item.name}}"
              placeholder="{{localize 'orc.name'}}"
              onClick="this.select();"
            />
          {{else}}
            <span>{{item.name}}</span>
          {{/if}}
        </h1>
      </div>
    </div>
    <div class="content">
      <table>
        <tr>
          <th>{{localize "orc.food.hp"}}</th>
          <th>{{localize "orc.food.mp"}}</th>
          <th>{{localize "orc.food.tipsiness"}}</th>
        </tr>
        <tr>
          <td align="center">
            {{#if unlocked}}
              <input
                name="system.hp"
                type="number"
                value="{{item.system.hp}}"
                placeholder="0"
              />
            {{else}}
              <span>{{item.system.hp}}</span>
            {{/if}}
          </td>
          <td align="center">
            {{#if unlocked}}
              <input
                name="system.mp"
                type="number"
                value="{{item.system.mp}}"
                placeholder="0"
              />
            {{else}}
              <span>{{item.system.mp}}</span>
            {{/if}}
          </td>
          <td align="center">
            {{#if unlocked}}
              <input
                name="system.tipsiness"
                type="number"
                value="{{item.system.tipsiness}}"
                placeholder="0"
              />
            {{else}}
              <span>{{item.system.tipsiness}}</span>
            {{/if}}
          </td>
        </tr>
      </table>
      <table>
        <tr>
          <th>{{localize "orc.food.type.food"}}</th>
          <th>{{localize "orc.food.type.drink"}}</th>
        </tr>
        <tr>
          <td align="center">
            {{#if unlocked}}
              <input
                name="system.type.food"
                type="checkbox"
                {{checked item.system.type.food}}
              />
            {{else}}
              {{#if item.system.type.food}}
                <span class="fas fa-check"></span>
              {{/if}}
            {{/if}}
          </td>
          <td align="center">
            {{#if unlocked}}
              <input
                name="system.type.drink"
                type="checkbox"
                {{checked item.system.type.drink}}
              />
            {{else}}
              {{#if item.system.type.drink}}
                <span class="fas fa-check"></span>
              {{/if}}
            {{/if}}
          </td>
        </tr>
      </table>
      <table>
        <tr>
          <th>{{localize "orc.food.stock"}}</th>
          <th>{{localize "orc.food.weightIndiv"}}</th>
        </tr>
        <tr>
          <td align="center">
            {{#if unlocked}}
              <input
                name="system.stock"
                type="number"
                value="{{item.system.stock}}"
                placeholder="0"
              />
            {{else}}
              <span>{{item.system.stock}}</span>
            {{/if}}
          </td>
          <td align="center">
            {{#if unlocked}}
              <input
                name="system.weight.indiv"
                type="number"
                value="{{item.system.weight.indiv}}"
                placeholder="0"
              />
            {{else}}
              <span>{{item.system.weight.indiv}}</span>
            {{/if}}
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="descripton">
    <h2 align="center">{{localize "orc.weapon.descripton"}}</h2>
    {{editor
      descriptionHTML
      target="system.description"
      button=true
      owner=owner
      editable=editable
    }}
  </div>
</form>