<form class="{{cssClass}} spell" autocomplete="off">
  <div class="main">
    <div class="header">
      <div class="lock-icon">
        <a class="sheet-change-lock" title="lock/unlock sheet">
          {{#if unlocked}}
            <i class="button fas fa-lock-open"></i>
          {{else}}
            <i class="button fas fa-lock"></i>
          {{/if}}
        </a>
      </div>
      <div>
        <img
          src="{{item.img}}"
          data-edit="img"
          title="{{item.name}}"
          height="64"
          width="64"
        />
      </div>
      <div class="name">
        <h1 class="name" align="center">
          {{#if unlocked}}
            <input
              name="name"
              type="text"
              value="{{item.name}}"
              placeholder="{{localize 'orc.name'}}"
              onClick="this.select();"
            />
          {{else}}
            <span>{{item.name}}</span>
          {{/if}}
        </h1>
      </div>
    </div>
    <div class="content">
      <table>
        <tr>
          <th>{{localize "orc.spell.type"}}</th>
        </tr>
        <tr>
          {{#if unlocked}}
            <td align="center">
              <select name="system.type" align="center">
                {{#select item.system.type}}
                  <option value=""></option>
                  {{#each config.spellType as |type|}}
                    <option value="{{type}}">{{localize type}}</option>
                  {{/each}}
                {{/select}}
              </select>
            </td>
          {{else}}
            <td align="center">
              <span>{{localize item.system.type}}</span>
            </td>
          {{/if}}
        </tr>
      </table>
      <table>
        <tr>
          <th>{{localize "orc.spell.difficulty"}}</th>
        </tr>
        <tr>
          {{#if unlocked}}
            <td align="center">
              <input
                name="system.difficulty"
                type="text"
                value="{{item.system.difficulty}}"
                placeholder=""
              />
            </td>
          {{else}}
            <td align="center">
              <span>{{item.system.difficulty}}</span>
            </td>
          {{/if}}
        </tr>
      </table>
      <table>
        <tr>
          <th>{{localize "orc.spell.cost"}}</th>
          <th>{{localize "orc.spell.multi"}}</th>
          {{#if (or unlocked item.system.useHP)}}
            <th>{{localize "orc.spell.useHP"}}</th>
          {{/if}}
        </tr>
        <tr>
          {{#if unlocked}}
            <td align="center">
              <input
                name="system.cost"
                type="text"
                value="{{item.system.cost}}"
                placeholder=""
              />
            </td>
            <td align="center">
              <input
                name="system.costMult"
                type="number"
                value="{{item.system.costMult}}"
                placeholder=""
              />
            </td>
            <td align="center">
              <input
                name="system.useHP"
                type="checkbox"
                {{checked item.system.useHP}}
              />
            </td>
          {{else}}
            <td align="center">
              <span>{{item.system.cost}}</span>
            </td>
            <td align="center">
              <span>X {{item.system.costMult}}</span>
            </td>
            {{#if item.system.useHP}}
              <td align="center">
                <span class="fas fa-check"></span>
              </td>
            {{/if}}
          {{/if}}
        </tr>
      </table>
      <table>
        <tr>
          <th>{{localize "orc.spell.power"}}</th>
          <th>{{localize "orc.spell.multi"}}</th>
          {{#if (or unlocked item.system.precise)}}
            <th>{{localize "orc.spell.precise"}}</th>
          {{/if}}
        </tr>
        <tr>
          {{#if unlocked}}
            <td align="center">
              <input
                name="system.power"
                type="text"
                value="{{item.system.power}}"
                placeholder=""
              />
            </td>
            <td align="center">
              <input
                name="system.powerMult"
                type="number"
                value="{{item.system.powerMult}}"
                placeholder=""
              />
            </td>
            <td align="center">
              <input
                name="system.precise"
                type="checkbox"
                {{checked item.system.precise}}
              />
            </td>
          {{else}}
            <td align="center">
              <span>{{item.system.power}}</span>
            </td>
            <td align="center">
              <span>X {{item.system.powerMult}}</span>
            </td>
            {{#if item.system.precise}}
              <td align="center">
                <span class="fas fa-check"></span>
              </td>
            {{/if}}
          {{/if}}
        </tr>
      </table>
      <table>
        <tr>
          <th>{{localize "orc.spell.range"}}</th>
          <th>{{localize "orc.spell.duration"}}{{#if (not unlocked)}} ({{item.system.durationUnit}}){{/if}}</th>
          {{#if unlocked}}<th>{{localize "orc.spell.durationUnit"}}</th>{{/if}}
        </tr>
        <tr>
          {{#if unlocked}}
            <td align="center">
              <input
                name="system.range"
                type="number"
                value="{{item.system.range}}"
                placeholder=""
              />
            </td>
            <td align="center">
              <input
                name="system.duration"
                type="text"
                value="{{item.system.duration}}"
                placeholder=""
              />
            </td>
            <td align="center">
              <input
                name="system.durationUnit"
                type="text"
                value="{{item.system.durationUnit}}"
                placeholder=""
              />
            </td>
          {{else}}
            <td align="center">
              <span>{{item.system.range}}</span>
            </td>
            <td align="center">
              <span>{{item.system.duration}}</span>
            </td>
          {{/if}}
        </tr>
      </table>
      <table>
        <tr>
          <th>{{localize "orc.spell.effect"}}</th>
        </tr>
        <tr>
          {{#if unlocked}}
            <td align="center">
              <input
                name="system.effect"
                type="text"
                value="{{item.system.effect}}"
                placeholder=""
              />
            </td>
          {{else}}
            <td align="center">
              <span>{{item.system.effect}}</span>
            </td>
          {{/if}}
        </tr>
      </table>
    </div>
  </div>
  <div class="description">
    <h2 class="description-header">
      {{#if (not item.system.optionDescriptionDeploy)}}
        <div
          class="description-deploy button fas fa-arrow-down-short-wide"
          align="center"
          style="width: 25px"
        ></div>
      {{else}}
        <div
          class="description-deploy button fas fa-arrow-up-to-line"
          align="center"
          style="width: 25px"
        ></div>
      {{/if}}
      <div class="title" align="center">{{localize
          "orc.weapon.descripton"
        }}</div>
    </h2>
    {{#if item.system.optionDescriptionDeploy}}
      {{> systems/orc/templates/description.hbs}}    
    {{/if}}
  </div>
</form>