<form class="{{cssClass}} weapon" autocomplete="off">
  <div class="main">
    <div class="header">
      <div class="lock-icon">
        <a class="sheet-change-lock" title="lock/unlock sheet">
          {{#if unlocked}}
          <i class="button fas fa-lock-open"></i>
          {{else}}
          <i class="button fas fa-lock"></i>
          {{/if}}
        </a>
      </div>
      <div>
        <img
          src="{{item.img}}"
          data-edit="img"
          title="{{item.name}}"
          height="64"
          width="64"
        />
      </div>
      <div class="name">
        <h1 class="name" align="center">
          {{#if unlocked}}
          <input
            name="name"
            type="text"
            value="{{item.name}}"
            placeholder="{{localize 'orc.name'}}"
            onClick="this.select();"
          />
          {{else}}
          <span>{{item.name}}</span>
          {{/if}}
        </h1>
      </div>
    </div>
    <div class="content">
      <table>
        <tr>
          <th>{{localize "orc.weapon.damage"}}</th>
          <th>{{localize "orc.weapon.range"}}</th>
          {{#if unlocked}}
          <th>{{localize "orc.weapon.useAmmo"}}</th>
          {{/if}} {{#if (and item.system.useAmmo (not unlocked))}}
          <th>{{localize "orc.weapon.ammo"}}</th>
          {{/if}}
        </tr>
        <tr>
          <td align="center">
            {{#if unlocked}}
            <input
              name="system.damage"
              type="text"
              value="{{item.system.damage}}"
              placeholder="0"
            />
            {{else}}
            <span>{{item.system.damage}}</span>
            <span
              class="damage-roll button fas fa-dice">
            </span>
            {{/if}}
          </td>
          <td align="center">
            {{#if unlocked}}
            <input
              name="system.range"
              type="Number"
              value="{{item.system.range}}"
              placeholder="0"
            />
            {{else}}
            <span>{{item.system.range}}</span>
            {{/if}}
          </td>
          {{#if unlocked}}
          <td align="center">
            <input
              name="system.useAmmo"
              type="checkbox"
              {{checked
              item.system.useAmmo}}
            />
          </td>
          {{/if}} {{#if (and item.system.useAmmo (not unlocked))}}
          <td align="center">
            <select name="system.ammo" align="center">
              {{#select item.system.ammo}} 
              {{#each ammo as |munition|}}
              <option value="{{munition._id}}">{{munition.name}}</option>
              {{/each}} 
              {{/select}}
            </select>
          </td>
          {{/if}}
        </tr>
      </table>
      {{#if (or unlocked item.system.defenceModif item.system.attackModif)}}
      <table>
        <tr>
          {{#if (or unlocked item.system.defenceModif)}}
          <th>{{localize "orc.weapon.defenceModif"}}</th>
          {{/if}} {{#if (or unlocked item.system.attackModif)}}
          <th>{{localize "orc.weapon.attackModif"}}</th>
          {{/if}}
        </tr>
        <tr>
          {{#if (or unlocked item.system.defenceModif)}}
          <td align="center">
            {{#if unlocked}}
            <input
              name="system.defenceModif"
              type="Number"
              value="{{item.system.defenceModif}}"
              placeholder="0"
            />
            {{else}} {{#if item.system.defenceModif}}
            <span>{{item.system.defenceModif}}</span>
            {{/if}} {{/if}}
          </td>
          {{/if}} {{#if (or unlocked item.system.attackModif)}}
          <td align="center">
            {{#if unlocked}}
            <input
              name="system.attackModif"
              type="Number"
              value="{{item.system.attackModif}}"
              placeholder="0"
            />
            {{else}} {{#if item.system.attackModif}}
            <span>{{item.system.attackModif}}</span>
            {{/if}} {{/if}}
          </td>
          {{/if}}
        </tr>
      </table>
      {{/if}}
      <table>
        <tr>
          <th>{{localize "orc.weapon.damageType"}}</th>
          <th>{{localize "orc.weapon.weight"}}</th>
        </tr>
        <tr>
          <td align="center">
            <select name="system.damageType" align="center" {{#if (not unlocked)}} disabled="true" {{/if}}>
              {{#select item.system.damageType}} {{#each config.damageTypeList
              as |damagetype type|}}
              <option value="{{type}}">{{localize damagetype}}</option>
              {{/each}} {{/select}}
            </select>
          </td>
          <td align="center">
            {{#if unlocked}}
            <input
              name="system.weight"
              type="Number"
              value="{{item.system.weight}}"
              placeholder="0"
            />
            {{else}}
            <span>{{item.system.weight}}</span>
            {{/if}}
          </td>
        </tr>
      </table>
      <table>
        <tr>
          {{#if (or unlocked item.system.precise)}}
          <th>{{localize "orc.weapon.precise"}}</th>
          {{/if}}
          {{#if unlocked}}
          <td align="center">
            <input
              name="system.precise"
              type="checkbox"
              {{checked
              item.system.precise}}
            />
          </td>
          {{else}} 
            {{#if item.system.precise}}
            <td align="center">
              <input
                name="system.precise"
                type="checkbox"
                {{checked
                item.system.precise}}
                disabled=true
              />
            </td>
            {{/if}}
          {{/if}}
        </tr>
        <tr>
          <th colspan="2">{{localize "orc.weapon.effect"}}</th>
        </tr>
        <tr>
          <td colspan="2" align="center">
            {{#if unlocked}}
              <input
              name="system.effect"
              type="text"
              value="{{item.system.effect}}"
              placeholder=""
              />
            {{else}}
              <span>{{item.system.effect}}</span>
            {{/if}}
          </td>
        </tr>
      </table>
    </div>
  </div>
  {{editor descriptionHTML target="system.description" button=true
  owner=owner editable=editable}}
</form>
