<div class="weapon">
<table class="item-list weapon-list">
  <tr class="header-main flexrow">
    <th class="content">{{localize "orc.weapons"}}</th>
  </tr>
  <tr class="header flexrow">
    <th class="content"></th>
    <th class="content">{{localize "orc.weapon.damage"}}</th>
    <th class="content">{{localize "orc.weapon.range"}}</th>
    <th class="content">{{localize "orc.weapon.defenceModif"}}</th>
    <th class="content">{{localize "orc.weapon.attackModif"}}</th>
    <th class="content">{{localize "orc.weapon.effect"}}</th>
    <th class="content">{{localize "orc.weapon.weight"}}</th>
    <th class="content">{{localize "orc.weapon.equipped"}}</th>
    <th class="content"></th>
  </tr>
  {{#each weapons as |weapon id|}}
    <tr class="item flexrow" data-item-id="{{weapon._id}}">
      <td class="content">{{weapon.name}}</td>
      <td class="content">{{weapon.system.damage}}</td>
      <td class="content">{{weapon.system.range}}</td>
      <td class="content">{{weapon.system.defenceModif}}</td>
      <td class="content">{{weapon.system.attackModif}}</td>
      <td class="content">{{weapon.system.effect}}</td>
      <td class="content">{{weapon.system.weight}}</td>
      {{#if weapon.system.equipped}}
        <td class="content item-equipped button fas fa-check"></td>
      {{else}}
        <td class="content item-equipped button fas fa-xmark"></td>
      {{/if}}
      <td align="center">
        <a class="item-edit" align="center" title="Edit Item">
          <i class="button fas fa-edit"></i></a>
        <a class="item-delete" align="center" title="Delete Item">
          <i class="button fas fa-trash"></i></a>
      </td>
    </tr>
  {{/each}}
</table>
</div>
<div class="armor">
<table class="item-list armor-list">
  <tr class="header-main flexrow">
    <th class="content">{{localize "orc.armors"}}</th>
  </tr>
  <tr class="header flexrow">
    {{#each config.bodyPartList as |bodyPart part|}}
      {{#if (isNotEmptyString bodyPart)}}
        <th class="content">{{localize bodyPart}}</th>
      {{/if}}
    {{/each}}
  </tr>
  <tr class="header flexrow">
    <td class="content">
      <select
        class="bodyPart-choose-armor armor-equipped"
        slot="{{config.bodyPartList.head}}"
        name="system.ap.bodyParts.head"
        align="center"
      >
        {{#select actor.system.ap.bodyParts.head}}
          <option value=""></option>
          {{#each armors as |armor id|}}
            {{#if (eq armor.system.bodyPart ../config.bodyPartList.head)}}
              <option value="{{armor._id}}">{{armor.name}}</option>
            {{/if}}
          {{/each}}
        {{/select}}
      </select>
    </td>
    <td class="content">
      <select
        class="bodyPart-choose-armor armor-equipped"
        slot="{{config.bodyPartList.chest}}"
        name="system.ap.bodyParts.chest"
        align="center"
      >
        {{#select actor.system.ap.bodyParts.chest}}
          <option value=""></option>
          {{#each armors as |armor id|}}
            {{#if (eq armor.system.bodyPart ../config.bodyPartList.chest)}}
              <option value="{{armor._id}}">{{armor.name}}</option>
            {{/if}}
          {{/each}}
        {{/select}}
      </select>
    </td>
    <td class="content">
      <select
        class="bodyPart-choose-armor armor-equipped"
        slot="{{config.bodyPartList.arms}}"
        name="system.ap.bodyParts.arms"
        align="center"
      >
        {{#select actor.system.ap.bodyParts.arms}}
          <option value=""></option>
          {{#each armors as |armor id|}}
            {{#if (eq armor.system.bodyPart ../config.bodyPartList.arms)}}
              <option value="{{armor._id}}">{{armor.name}}</option>
            {{/if}}
          {{/each}}
        {{/select}}
      </select>
    </td>
    <td class="content">
      <select
        class="bodyPart-choose-armor armor-equipped"
        slot="{{config.bodyPartList.legs}}"
        name="system.ap.bodyParts.legs"
        align="center"
      >
        {{#select actor.system.ap.bodyParts.legs}}
          <option value=""></option>
          {{#each armors as |armor id|}}
            {{#if (eq armor.system.bodyPart ../config.bodyPartList.legs)}}
              <option value="{{armor._id}}">{{armor.name}}</option>
            {{/if}}
          {{/each}}
        {{/select}}
      </select>
    </td>
    <!--
    <select class="bodyPart-choose-armor" name="system.ap.bodyParts" align="center">
      {{#select ../actor.system.ap.bodyParts}}
        {{#each ../armors as |armor id|}}
          {{#if (eq armor.system.bodyPart bodyPart)}}
            <option value="{{armor._id}}">{{localize armor.name}}</option>
          {{/if}}
        {{/each}}
      {{/select}}
    </select>
      -->

  </tr>
  <tr class="header flexrow">
    <th class="content"></th>
    <th class="content">{{localize "orc.armor.bodyPart"}}</th>
    <th class="content">{{localize "orc.armor.valueAP"}}</th>
    <th class="content">{{localize "orc.armor.weight"}}</th>
    <th class="content"></th>
  </tr>
  {{#each armors as |armor id|}}
    <tr class="item flexrow" data-item-id="{{armor._id}}">
      <td class="content">{{armor.name}}</td>
      <td class="content">{{localize armor.system.bodyPart}}</td>
      <td class="content">{{armor.system.ap}}</td>
      <td class="content">{{armor.system.weight}}</td>
      <td align="center">
        <a class="item-edit" align="center" title="Edit Item">
          <i class="button fas fa-edit"></i></a>
        <a class="item-delete" align="center" title="Delete Item">
          <i class="button fas fa-trash"></i></a>
      </td>
    </tr>{{/each}}
</table>
</div>
<div class="ammo-equipableitem">
  <div class="ammo">
    <table class="item-list ammo-list">
      <tr class="header-main flexrow">
        <th class="content">{{localize "orc.ammos"}}</th>
      </tr>
      <tr class="header flexrow">
        <th class="content"></th>
        <th class="content">{{localize "orc.ammo.damage"}}</th>
        <th class="content">{{localize "orc.ammo.effect"}}</th>
        <th class="content">{{localize "orc.ammo.stock"}}</th>
        <th class="content">{{localize "orc.ammo.weight"}}</th>
        <th class="content"></th>
      </tr>
      {{#each ammos as |ammo id|}}
        <tr class="item flexrow" data-item-id="{{ammo._id}}">
          <td class="content">{{ammo.name}}</td>
          <td class="content">{{ammo.system.damage}}</td>
          <td class="content">{{ammo.system.effect}}</td>
          <td class="content" align="center">
            <input
              class="update-stock"
              type="number"
              name="ammo.system.stock"
              value="{{ammo.system.stock}}"
              placeholder="0"
              onClick="this.select();"
              style="width: 30px"
            />
          </td>
          <td class="content">{{ammo.system.weight.total}}</td>
          <td align="center">
            <a class="item-edit" align="center" title="Edit Item">
              <i class="button fas fa-edit"></i></a>
            <a class="item-delete" align="center" title="Delete Item">
              <i class="button fas fa-trash"></i></a>
          </td>
        </tr>
      {{/each}}
    </table>
  </div>
  <div class="equipableitem">
    <table class="item-list equipableitem-list">
      <tr class="header-main flexrow">
        <th class="content">{{localize "orc.equipableitems"}}</th>
      </tr>
      <tr class="header flexrow">
        <th class="content"></th>
        <th class="content">{{localize "orc.equipableitem.weight"}}</th>
        <th class="content">{{localize "orc.equipableitem.equipped"}}</th>
        <th class="content"></th>
      </tr>
      {{#each equipableitems as |equipableitem id|}}
        <tr class="item flexrow" data-item-id="{{equipableitem._id}}">
          <td class="content">{{equipableitem.name}}</td>
          <td class="content">{{equipableitem.system.weight}}</td>
          {{#if equipableitem.system.equipped}}
            <td class="content item-equipped button fas fa-check"></td>
          {{else}}
            <td class="content item-equipped button fas fa-xmark"></td>
          {{/if}}
          <td align="center">
            <a class="item-edit" align="center" title="Edit Item">
              <i class="button fas fa-edit"></i></a>
            <a class="item-delete" align="center" title="Delete Item">
              <i class="button fas fa-trash"></i></a>
          </td>
        </tr>
      {{/each}}
    </table>
  </div>
</div>

<div class="food-consumable">
  <div class="food">
    <table class="item-list food-list">
      <tr class="header-main flexrow">
        <th class="content">{{localize "orc.foods"}}</th>
      </tr>
      <tr class="header flexrow">
        <th class="content"></th>
        <th class="content">{{localize "orc.food.hp"}}</th>
        <th class="content">{{localize "orc.food.mp"}}</th>
        <th class="content">{{localize "orc.food.tipsiness"}}</th>
        <th class="content">{{localize "orc.food.stock"}}</th>
        <th class="content">{{localize "orc.food.weight"}}</th>
        <th class="content">{{localize "orc.food.consume"}}</th>
        <th class="content"></th>
      </tr>
      {{#each foods as |food id|}}
        <tr class="item flexrow" data-item-id="{{food._id}}">
          <td class="content">{{food.name}}</td>
          <td class="content">{{food.system.hp}}</td>
          <td class="content">{{food.system.mp}}</td>
          <td class="content">{{food.system.tipsiness}}</td>
          <td class="content" align="center">
            <input
              class="update-stock"
              type="number"
              name="food.system.stock"
              value="{{food.system.stock}}"
              placeholder="0"
              onClick="this.select();"
              style="width: 30px"
            />
          </td>
          <td class="content">{{food.system.weight.total}}</td> 
          <td class="content item-consume button fas fa-meat"></td>
          <td align="center">
            <a class="item-edit" align="center" title="Edit Item">
              <i class="button fas fa-edit"></i></a>
            <a class="item-delete" align="center" title="Delete Item">
              <i class="button fas fa-trash"></i></a>
          </td>
        </tr>
      {{/each}}
    </table>
  </div>
  <div class="consumable">
    <table class="item-list consumable-list">
      <tr class="header-main flexrow">
        <th class="content">{{localize "orc.consumables"}}</th>
      </tr>
      <tr class="header flexrow">
        <th class="content"></th>
        <th class="content">{{localize "orc.consumable.stock"}}</th>
        <th class="content">{{localize "orc.consumable.weight"}}</th>
        <th class="content">{{localize "orc.consumable.consume"}}</th>
        <th class="content"></th>
      </tr>
      {{#each consumables as |consumable id|}}
      {{#if (not consumable.system.ifActivable.activated)}}
      <tr class="item flexrow" data-item-id="{{consumable._id}}">
        <td class="content">{{consumable.name}}</td> 
        <td class="content" align="center">
          <input
            class="update-stock"
            type="number"
            name="consumable.system.stock"
            value="{{consumable.system.stock}}"
            placeholder="0"
            onClick="this.select();"
            style="width: 30px"
          />
        </td>         
        <td class="content">{{consumable.system.weight.total}}</td>
        <td class="content item-consume button fas fa-flask"></td>
        <td align="center" class="content">
          <a class="item-edit" align="center" title="Edit Item">
            <i class="button fas fa-edit"></i></a>
          <a class="item-delete" align="center" title="Delete Item">
            <i class="button fas fa-trash"></i></a>
        </td>
      </tr>
      {{/if}}
      {{/each}}
    </table>
  </div>
</div>