<table class="item-list weapon-list">
  <tr class="header-main flexrow">
    <th class="content">{{localize "orc.weapons"}}</th>
  </tr>
  <tr class="header flexrow">
    <th class="content"></th>
    <th class="content">{{localize "orc.weapon.damage"}}</th>
    <th class="content">{{localize "orc.weapon.range"}}</th>
    <th class="content">{{localize "orc.weapon.defenceModif"}}</th>
    <th class="content">{{localize "orc.weapon.attackModif"}}</th>
    <th class="content">{{localize "orc.weapon.effects"}}</th>
    <th class="content">{{localize "orc.weapon.equipped"}}</th>
    <th class="content"></th>
  </tr>
  {{#each weapons as |item id|}}
    <tr class="item flexrow" data-item-id="{{item._id}}">
      <td class="content">{{item.name}}</td>
      <td class="content">{{item.system.damage}}</td>
      <td class="content">{{item.system.range}}</td>
      <td class="content">{{item.system.defenceModif}}</td>
      <td class="content">{{item.system.attackModif}}</td>
      <td class="content">{{item.system.effect}}</td>
      {{#if item.system.equipped}}
        <td class="content weapon-equipped button fas fa-check"></td>
      {{else}}
        <td class="content weapon-equipped button fas fa-xmark"></td>
      {{/if}}
      <td align="center">
        <a class="item-edit" align="center" title="Edit Item">
          <i class="button fas fa-edit"></i></a>
        <a class="item-delete" align="center" title="Delete Item">
          <i class="button fas fa-trash"></i></a>
      </td>
    </tr>
  {{/each}}
</table>

<table class="item-list ammo-list">
  {{#each ammo as |item id|}}
    <tr class="item flexrow" data-item-id="{{item._id}}">
      <td align="center">
        <a class="item-edit" align="center" title="Edit Item">
          <i class="button fas fa-edit"></i></a>
        <a class="item-delete" align="center" title="Delete Item">
          <i class="button fas fa-trash"></i></a>
      </td>
    </tr>
  {{/each}}
</table>