<table class="item-list spell-list">
  <tr class="header-main flexrow">
    <th class="content">{{localize "orc.spells"}}</th>
  </tr>
</table>

<table class="item-list enchant-list">
  <tr class="header-main flexrow">
    <th class="content">{{localize "orc.enchantsActivated"}}</th>
  </tr>
  <tr class="header">
    <th class="content"></th>
    <th class="content">{{localize "orc.enchant.item"}}</th>
    <th class="content">{{localize "orc.enchant.roll"}}</th>
    <th class="effect-list">{{localize "orc.enchant.passives"}}</th>
    <th class="content">{{localize "orc.enchant.use"}}
      {{localize "orc.enchant.perDay"}}
    </th>
    <th class="edit-button"></th>
  </tr>
  {{#each items as |item id|}}
    {{#if
      (and
        item.system.enchant.activated
        (isNotEmptyString item.system.enchant.name)
      )
    }}
      <tr class="item" data-item-id="{{item._id}}">
        <td class="content">{{item.system.enchant.name}}</td>
        <td class="content">{{item.name}}</td>
        <td class="content">
          {{#if (isNotEmptyString item.system.enchant.roll)}}
            <span>{{item.system.enchant.roll}}</span>
            <span
              class="enchant-roll button fas fa-dice"
              data-itemid="{{item._id}}"
            ></span>
          {{/if}}
        </td>
        <td class="effect-list">
          {{#if (not item.system.enchant.optionDeploy)}}
            <div
              class="enchant-deploy button fas fa-arrow-down-short-wide"
              align="center"
              style="width: 25px"
              data-itemid="{{item._id}}"
            ></div>
          {{else}}
            <div
              class="enchant-deploy button fas fa-arrow-up-to-line"
              align="center"
              style="width: 25px"
              data-itemid="{{item._id}}"
            ></div>
            <table>
              {{#if item.system.enchant.physicalModif}}
                <tr>
                  <td align="center">{{localize
                      "orc.enchant.physicalModif"
                    }}</td>
                  <td align="center">{{item.system.enchant.physicalModif}}</td>
                </tr>
              {{/if}}
              {{#if item.system.enchant.socialModif}}
                <tr>
                  <td align="center">{{localize "orc.enchant.socialModif"}}</td>
                  <td align="center">{{item.system.enchant.socialModif}}</td>
                </tr>
              {{/if}}
              {{#if item.system.enchant.intelModif}}
                <tr>
                  <td align="center">{{localize "orc.enchant.intelModif"}}</td>
                  <td align="center">{{item.system.enchant.intelModif}}</td>
                </tr>
              {{/if}}
              {{#if item.system.enchant.hpMaxModif}}
                <tr>
                  <td align="center">{{localize "orc.enchant.hpMaxModif"}}</td>
                  <td align="center">{{item.system.enchant.hpMaxModif}}</td>
                </tr>
              {{/if}}
              {{#if item.system.enchant.mpMaxModif}}
                <tr>
                  <td align="center">{{localize "orc.enchant.mpMaxModif"}}</td>
                  <td align="center">{{item.system.enchant.mpMaxModif}}</td>
                </tr>
              {{/if}}
              {{#if item.system.enchant.apModif}}
                <tr>
                  <td align="center">{{localize "orc.enchant.apModif"}}</td>
                  <td align="center">{{item.system.enchant.apModif}}</td>
                </tr>
              {{/if}}

              {{#if item.system.enchant.attackModif}}
                <tr>
                  <td align="center">{{localize "orc.enchant.attackModif"}}</td>
                  <td align="center">{{item.system.enchant.attackModif}}</td>
                </tr>
              {{/if}}
              {{#if item.system.enchant.defenceModif}}
                <tr>
                  <td align="center">{{localize
                      "orc.enchant.defenceModif"
                    }}</td>
                  <td align="center">{{item.system.enchant.defenceModif}}</td>
                </tr>
              {{/if}}
              {{#if item.system.enchant.dodgeModif}}
                <tr>
                  <td align="center">{{localize "orc.enchant.dodgeModif"}}</td>
                  <td align="center">{{item.system.enchant.dodgeModif}}</td>
                </tr>
              {{/if}}
              {{#if item.system.enchant.encumbranceLimitModif}}
                <tr>
                  <td align="center">{{localize
                      "orc.enchant.encumbranceLimitModif"
                    }}</td>
                  <td
                    align="center"
                  >{{item.system.enchant.encumbranceLimitModif}}</td>
                </tr>
              {{/if}}
              {{#if item.system.enchant.foodNeededDayModif}}
                <tr>
                  <td align="center">{{localize
                      "orc.enchant.foodNeededDayModif"
                    }}</td>
                  <td
                    align="center"
                  >{{item.system.enchant.foodNeededDayModif}}</td>
                </tr>
              {{/if}}
              {{#if item.system.enchant.drinkNeededDayModif}}
                <tr>
                  <td align="center">{{localize
                      "orc.enchant.drinkNeededDayModif"
                    }}</td>
                  <td
                    align="center"
                  >{{item.system.enchant.drinkNeededDayModif}}</td>
                </tr>
              {{/if}}
              {{#if item.system.enchant.limitCriticalModif}}
                <tr>
                  <td align="center">{{localize
                      "orc.enchant.limitCriticalModif"
                    }}</td>
                  <td
                    align="center"
                  >{{item.system.enchant.limitCriticalModif}}</td>
                </tr>
              {{/if}}
              {{#if item.system.enchant.limitFumbleModif}}
                <tr>
                  <td align="center">{{localize
                      "orc.enchant.limitFumbleModif"
                    }}</td>
                  <td
                    align="center"
                  >{{item.system.enchant.limitFumbleModif}}</td>
                </tr>
              {{/if}}
              {{#if (isNotEmptyString item.system.enchant.damageBonusModif)}}
                <tr>
                  <td align="center">{{localize
                      "orc.enchant.damageBonusModif"
                    }}</td>
                  <td
                    align="center"
                  >{{item.system.enchant.damageBonusModif}}</td>
                </tr>
              {{/if}}
              {{#if (isNotEmptyString item.system.enchant.addEffect)}}
                <tr>
                  <td align="center">{{localize "orc.enchant.addEffect"}}</td>
                  <td align="center">{{item.system.enchant.addEffect}}</td>
                </tr>
              {{/if}}
            </table>
          {{/if}}
        </td>
        <td class="content">
          {{#if item.system.enchant.use.perDay}}
            {{item.system.enchant.use.perDay}}
          {{/if}}
        </td>
        <td class="edit-button">
          <a class="item-edit" align="center" title="Edit Item">
            <i class="button fas fa-edit"></i></a>
        </td>
      </tr>
    {{/if}}
  {{/each}}
</table>